<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rookie.Ecom.Customer</title>
    <script src="https://kit.fontawesome.com/6231a55862.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-white">
    <header>
        @*<nav class="navbar navbar-light bg-white border-bottom mr-3 ml-5">
                <div class="container-fluid">
                    <div class="justify-content-center ml-2">
                        <i class="fa-solid fa-user fa-xl"></i>
                        <span class="border-right p-2 mr-4"></span>
                        <a class="navbar-text text-decoration-none" asp-area="" asp-page="/Login">Login</a>
                    </div>
                    <div class="justify-content-center">

                        <span class="border-right p-2 mr-3"></span>
                        <i class="fa-solid fa-cart-shopping mr-1 fa-xl"></i>
                        <a class="ml-1 mr-1 navbar-text text-decoration-none" asp-area="" asp-page="/MyCart">My cart</a>
                        <button class="btn-sm rounded-pill border-0" style="width: 1.9rem; height:1.9rem;">10</button>
                    </div>

                </div>
            </nav>*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">Rookie.Ecom.Customer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" asp-page="/Product" onsubmit="return validateForm()" method="get" name="search">
                        <input class="form-control mr-sm-2" type="text" name="product" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <div class="justify-content-center ml-xl-5">
                        <i class="fa-solid fa-user fa-xl text-white"></i>
                        @*<span class="border-right p-2 mr-4"></span>*@
                        @if (User.Claims.Any())
                        {
                            <div class="dropdown" style="display:inline-block">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Claims.Where(x => x.Type == "name").FirstOrDefault().Value
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" onclick="onLogoutClick()" href="#">Logout</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a class="navbar-text text-decoration-none text-white ml-2" onclick="onLoginClick()" href="#">Login</a>
                        }

                        <span class="border-right p-2 mr-3"></span>
                        <i class="fa-solid fa-cart-shopping mr-1 fa-xl text-white"></i>
                        <a class="ml-1 mr-1 navbar-text text-decoration-none text-white" asp-area="" asp-page="/Cart">My cart</a>
                        <button class="btn-sm rounded-pill border-0" style="width: 1.9rem; height:1.9rem;" hidden>10</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 position-relative">

            @RenderBody()
        </main>
    </div>
    <button class="position-fixed btn-sm rounded-pill border-0 btn btn-warning" style="right: 50px; bottom: 80px; width: 2.3rem; height: 2.3rem; padding-top:6px;" onclick="onClickToTop()">
        <i class="fa-solid fa-angle-up"></i>
    </button>
    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-white">
            &copy; 2022 - Rookie.Ecom.Customer - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function onClickToTop() {
            document.body.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
            document.documentElement.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
        function validateForm() {
            let x = document.forms["search"]["product"].value;
            if (x == "") {
                return false;
            }
        }
        function onLoginClick() {
            location.href = "/Login?returnUrl=" + window.location.pathname;
        }
        function onLogoutClick() {
            location.href = "/Logout?returnUrl=" + window.location.pathname;
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
