@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "./Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Desc</th>
            <th>ImageUrl</th>
        </tr>
        @foreach (var temp in Model.Categories)
        {
            <tr>
                <th class="navbar-brand">@temp.CategoryName</th>
                <th class="btn btn-primary">@temp.Desc</th>
                <th class="$pink-200">@temp.ImageUrl</th>
            </tr>
        }
        @foreach (var temp in Model.Products)
        {
            <tr>
                <th>
                    @temp.ProductName
                </th>
            </tr>
        }
    </table>
</div>
