@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Desc</th>
            <th>ImageUrl</th>
        </tr>
        @foreach (var temp in Model.GetAsync)
        {
            <tr>
                <th>@temp.Name</th>
                <th>@temp.Desc</th>
                <th>@temp.ImageUrl</th>
            </tr>
        }
    </table>
</div>
