@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "./Shared/_Layout.cshtml";
}

<div>
    <div class="text-center">
        <h1 class="display-4 m-xl-5">Welcome</h1>
        <img src="~/img/B5.jpg" class="figure-img img-fluid rounded ml-3 mr-3 mb-5 border-bottom pb-5" style="width:100%; height:auto;" alt="Just a picture.">

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/img/B3.jpg" class="figure-img img-fluid rounded" style="width:100%; height:auto;" alt="Just a picture.">
                <div style="height:300px" class="navbar justify-content-between">
                    <span class="figure-caption ml-xl-5">We provide all products you can think about.</span>
                </div>
            </div>
            <div class="col-sm text-center">
                <div style="height:300px" class="navbar justify-content-between">
                    <span class="figure-caption ml-xl-5">After selling we provide the warranty of one year and any time you need our help.</span>
                </div>
                <img src="~/img/B4.jpg" class="figure-img img-fluid rounded" style="width:100%; height:auto;" alt="Just a picture.">
            </div>
        </div>
    </div>

    <div class="container mt-xl-5 border-top pt-xl-5">
        <div class="row">
            <div class="col-sm text-center">
                <i class="fa-solid fa-chair fa-2xl" style="cursor:pointer;"></i>
                <br />
                <br />
                <span class="h5" style="cursor:pointer;">Chair</span>
            </div>
            <div class="col-sm text-center">
                <i class="fa-solid fa-couch fa-2xl" style="cursor:pointer;"></i>
                <br />
                <br />
                <span class="h5" style="cursor:pointer;">Sofa</span>
            </div>
            <div class="col-sm text-center">
                <i class="fa-solid fa-lightbulb fa-2xl" style="cursor:pointer;"></i>
                <br />
                <br />
                <span class="h5" style="cursor:pointer;">Lighting</span>
            </div>
            <div class="col-sm text-center">
                <i class="fa-solid fa-mug-saucer fa-2xl" style="cursor:pointer;"></i>
                <br />
                <br />
                <span class="h5" style="cursor:pointer;">Drink</span>
            </div>
            <div class="col-sm text-center">
                <i class="fa-solid fa-utensils fa-2xl" style="cursor:pointer;"></i>
                <br />
                <br />
                <span class="h5" style="cursor:pointer;">Food</span>
            </div>
            <div class="col-sm text-center">
                <i class="fa-solid fa-bed fa-2xl" style="cursor:pointer;"></i>
                <br />
                <br />
                <span class="h5" style="cursor:pointer;">Bed</span>
            </div>
        </div>
    </div>

    @*<div class="ml-5">
            <img src="~/img/B3.jpg" class="figure-img img-fluid rounded" style="width:50%; height:auto;" alt="Just a picture.">
            <span class="figure-caption ml-xl-5">After selling we provide the warranty of one year and any time you need our help.</span>
        </div>*@


@*<table>
    <tr>
        <th>Name</th>
        <th>Desc</th>
        <th>ImageUrl</th>
    </tr>
    @foreach (var temp in Model.Roles)
    {

        <tr>
            <th class="">Role name: @temp.RoleName</th>
        </tr>
        @foreach (var temp1 in Model.Users(temp.Id))
        {
            <tr>
                <th>
                    Last name: @temp1.LastName
                </th>
            </tr>
        }

    }
</table>*@
</div>
