@page
@model Rookie.Ecom.Customer.Pages.ProductDetailModel
@{
    ViewData["Title"] = "Product detail page";
}

<div class="container">
    <div class="row">
        <div class="col-sm border bg-white box-shadow rounded p-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm border bg-white rounded">
                        Product's picture
                    </div>
                    <div class="col-sm">
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <span>Score</span>
                        </div>
                        <div>
                            <span>Product name</span>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <span>Price</span>
                        <div>
                            <span>Tag</span>
                            <span>Tag</span>
                        </div>
                        <button class="btn btn-dark">Add to cart</button>
                        <button class="btn btn-dark">- 1 +</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>

<p>@Model.name</p>